.jono {
    text-align: center;
    color: gray;
    font-size: large;
    text-decoration:  underline;
}

.tableau-font {
    background-color: darkgrey;
    font-weight: 300; 
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
}

.heading-font{
    color: orangered;
    background-color: darkgray;
    text-align: center;
}
.heading-font-lower{
    color: orangered;
    text-align: center;
    background-color: darkgray;
    font-weight: bold;
}

.links {
    color: whitesmoke;
    text-align: center;
    position: absolute;
    object-position: top;
    background-color: darkgray;
}

.links:hover {
    color: orangered;
}

.contact {
    color: orangered;
    background-color: darkgray;
    text-align: center;
    font-weight: bold;
}

.btt {
    color: orangered;
    background-color: darkgray;
    text-align: center;
    font-weight: bold;
}